body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/bouldering.jpg');
  background-size: cover;
  font-family: 'Rubik';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* app */

#navbar {
  background-color: white;
  border: 1px solid black;
}


div h1 {
  font-family: 'Russo One';
  font-size: 64px;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 25px;
    
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
}

.page-links {
  display: inline;
  padding: 4px;
  margin: 2px;
  font-family: 'Rubik';
  text-decoration: none;
  font-size: 14px;
  /* background-color: transparent; */
}
a:link {
  text-decoration: none;
  border: 1px black;
}

a:hover {
  /* background-color: #6292DF; */
  font-weight: bold;
  color: black;
}
/* a:active {
  background-color: #D46C3C;
} */

a:visted {
  color: black;
}


#home-container {
  width: 100%;
  color: white;

    
}

#home-container div {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color:rgba(255, 255, 255, 0.30);
  margin-top: 20px;
  margin-top: 20px;
  text-align: center;
}

#home-container div h2 {
  font-family: 'Russo One';
  
}

#about {
  color: #5D2E8C;
}

#find {
  color: #32E875;
}

#create {
  color: #F42272;
}

#your-logs {
  color: #56EEF4;
}

#home-container div p {
  width: 75%;
  margin: auto;
  font-weight: bolder;
}


#create-fa-page {
  width: 100%;
}

/* Create FA Form */

#fa-form-container {
  width: 100%;
  
}

#fa-form {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: auto; 
  height: 350px;
  border-radius: 10px;
  border: 1px black;
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 50px;
  margin-top: 20px;

}

#fa-form p {
  width: 100%;
  padding-left: 15px;
}

#text-area {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* Log Container */

#log-container {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

/* Log Card */

#log-card {
  width: 80%;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

#find-a-route {
  width: 100%;
  background-color: lightpink;

}

/* Route Card */

#route-card {
  width: 80%;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  
}

#route-name {
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 20px;
}

.route-fields {
  display: inline;
}

.route-fields h5{
  font-size: 12px;
  padding-left: 30px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.route-fields p{
  font-size: 12px;
  padding-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.save {
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 8px;
}


#login {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: auto; 
  height: 125px;
  border-radius: 10px;
  border: 1px black;
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 50px;
  margin-top: 20px;

}

#login p {
  width: 100%;
  padding-left: 15px;
}

#signup {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: auto; 
  height: 250px;
  border-radius: 10px;
  border: 1px black;
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 50px;
  margin-top: 20px;
}

#signup p {
  width: 100%;
  padding-left: 15px;
}


.star-rating:hover {
  color: yellow;
  
}


#route-search  {
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  padding-bottom: 15px;
  border-radius: 10px;
  
}

#route-search-container {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  
}

.submit {
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 8px;
  margin: auto;
}