body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/bouldering.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* app */

#navbar {
  background-color: white;
  border: 1px solid black;
}

#navbar a {
  
}

div h1 {
  font-family: 'Russo One';
  font-size: 64px;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 25px;
    
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
}

.page-links {
  display: inline;
  padding: 4px;
  margin: 2px;
  font-family: 'Rubik';
  text-decoration: none;
  font-size: 14px;
  /* background-color: transparent; */
}
a:link {
  text-decoration: none;
  border: 1px black;
}

a:hover {
  background-color: #6292DF;

}
/* a:active {
  background-color: #D46C3C;
} */


#home-container {
  width: 100%;
  background-color: grey;
  color: white;
  align: bottom;
    
}



#create-fa-page {
  background-color: #90EE90;
  width: 100%;
}

/* Create FA Form */

#fa-form-container {
  width: 75%;
  background-color: blueviolet;
}

#fa-form {
  display: inline-block;
  width: 100%;

}

#comment-box {
  border: 1px solid black;
  height: 100px;
  width: 250px;

}

/* Log Container */

#log-container {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

/* Log Card */

#log-card {
  width: 80%;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

#find-a-route {
  width: 100%;
  background-color: lightpink;

}

/* Route Card */

#route-card {
  width: 80%;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  
}

#login {
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  height: 150px;
  border-radius: 10px;
  border: 1px black;
}

#signup {
  background-color: rgba(255, 255, 255, 0.5);
}

.star-rating:hover {
  color: yellow;
  
}